h1{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
}
.top{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.line{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
  text-align: left;
  background-color: mediumspringgreen;
}

.line2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
  text-align: left;
  background-color: lightcoral;
}

.line3{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color:white;
  text-align: left;
  background-color: skyblue;
}